In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
!pip install -e ../.

Obtaining file:///Users/christianklaus/code/N1tram/dispatcher
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pip>=9 in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (22.0.4)
Requirement already satisfied: setuptools>=26 in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (56.0.0)
Requirement already satisfied: twine in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (4.0.0)
Requirement already satisfied: wheel>=0.29 in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (0.37.1)
Requirement already satisfied: numpy in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (1.22.3)
Requirement already satisfied: pandas in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (1.4.2)
Requirement already satisfied: scikit-learn in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (1.0.2)
Requirement already satisfied: fsspec==2022.3.0 in /Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/lib/python3.8/site-packages (from dispatcher==1.0) (2022.3.0)
ERROR: Could not find a version that satisfies the requirement math (from dispatcher) (from versions: none)
ERROR: No matching distribution found for math
WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the '/Users/christianklaus/.pyenv/versions/3.8.12/envs/dispatcher/bin/python -m pip install --upgrade pip' command.

In [3]:
import matplotlib.pyplot as plt
plt.style.use(['dark_background'])
import seaborn as sns
plt.style.use("dark_background")
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from dispatcher.data.data import RawData
import datetime

In [47]:
warehouse = RawData.get_table_data('warehouse', clean=False)
warehouse = warehouse[['ID']]
warehouse.head()

   ID
0   1
1   2
2   3
3   5
4   6

In [48]:
warehouse_additional_info = RawData.get_table_data('warehouse_additional_info', clean=False)
warehouse_additional_info = warehouse_additional_info.drop(columns="ORG_ID")
warehouse_additional_info.head()

,ID,ADDRESS_COUNTRY,ADDRESS_POSTAL_CODE,DAYS,TIME_FROM,TIME_UNTIL,TIME_TYPE
0,1,DE,10234,NaN,NaN,NaN,NaN
1,2,DE,10435,"Mo,Tu,We,Th,Fr",01:00:00,00:59:00,Operating Time
2,3,DE,10435,"Mo,Tu,We,Th,Fr",01:00:00,00:59:00,Operating Time
3,5,DE,10969,"Mo,Tu,We,Th,Fr",01:00:00,00:59:00,Operating Time
4,6,DE,10435,"Mo,Tu,We,Th,Fr",01:00:00,00:59:00,Operating Time

In [49]:
warehouse = warehouse.merge(warehouse_additional_info, how='left', left_on='ID', right_on='ID')

In [50]:
warehouse = warehouse.drop(warehouse[warehouse['TIME_TYPE'] == 'Cut-Off Time'].index)

In [27]:
warehouse[warehouse['ID'] == 534]

,ID,ADDRESS_COUNTRY,ADDRESS_POSTAL_CODE,DAYS,TIME_FROM,TIME_UNTIL,TIME_TYPE
468,534,PL,41208,"Mo,Tu,We,Th,Fr",13:00:00,20:00:00,Operating Time

In [8]:
warehouse['TIME_UNTIL'] = warehouse['TIME_UNTIL'].str.split(':').str[0]

In [9]:
warehouse['TIME_FROM'] = warehouse['TIME_FROM'].str.split(':').str[0]

In [11]:
warehouse['HOURS'] = warehouse['TIME_UNTIL'].astype(int) - warehouse['TIME_FROM'].astype(int)

ValueError: cannot convert float NaN to integer

In [46]:
warehouse['TIME_UNTIL'].value_counts()

00:59:00    821
17:00:00     62
19:00:00     49
22:00:00     37
18:00:00     30
16:00:00     16
23:00:00     16
16:30:00     15
21:00:00     15
15:00:00     14
17:30:00     13
16:15:00     11
20:00:00     11
15:30:00      9
23:30:00      6
23:01:00      5
14:30:00      5
01:00:00      3
00:00:00      2
18:30:00      2
16:45:00      1
Name: TIME_UNTIL, dtype: int64

In [52]:
warehouse['TIME_FROM'] = pd.to_datetime(warehouse['TIME_FROM']).dt.time

In [56]:
warehouse['TIME_FROM_time'] = warehouse['TIME_FROM'].dt.time

In [54]:
warehouse['TIME_FROM'] = warehouse['TIME_FROM'].astype(dt.datetime)

NameError: name 'dt' is not defined

In [57]:
warehouse.dtypes

ID                              int64
ADDRESS_COUNTRY                object
ADDRESS_POSTAL_CODE            object
DAYS                           object
TIME_FROM              datetime64[ns]
TIME_UNTIL                     object
TIME_TYPE                      object
TIME_FROM_time                 object
dtype: object

In [ ]:
warehouse = warehouse.dropna(subset=['TIME_FROM', 'TIME_UNTIL'])